html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

header {
    display: flex;
    background: #A9C7E1;
    justify-content: space-between;
    padding: 30px;
    align-items: center;
}

header a img {
    width: 160px;
}

header nav a {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-right: 25px;

}

header nav a:first-child{
    color: black;
}

#inicio {
    background: #A9C7E1;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    background-image: url('assets/back.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
}

#inicio h1 {
    margin: 0;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    margin-bottom: 50px;
}

#inicio h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 35px;
}

#inicio button {
    width: 220px;
    background: #1A264E;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    border: 1px solid #1A264E;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 5px;
}

#benef {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 90px 50px 10px 50px;
    
}

.card {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
}

.card h3 {
    font-size: 40px;
    font-weight: bolder;
    margin-top: 30px;
    margin-bottom: 10;
}

.card p {
    text-align: center;
    padding: 20px;
    font-size: 17px;
    margin: 0;
}

.card img {
    width: 130px;
}

#form {
    background-color: #A9C7E1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 90px;
    padding-bottom: 40px;
    
}

#form h1 {
    font-size: 64px;
}

#form form {
    display: flex;
    flex-direction: column

}

#form form input, #form form textarea {
    margin-bottom: 80px;
    background-color: transparent;
    border: none;
    border-bottom: 4px solid black;
    font-size: 28px;
    padding-bottom: 30px;
    padding-left: 30px;
    font-weight: bold;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

#form form input::placeholder, #form form textarea::placeholder {
    color: black;
    font-weight: bold;
}

#form form button {
    width: 302px;
    background-color: #1A264E;
    border: 1px solid #1A264E;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 33px;
    font-weight: 600;
    font-style: normal;
    color: #FFFFFF;
    align-self: center;
    padding: 25px 10px;


}

@media screen and (max-width:700px){
    header nav a {
        display: none; /*Ocultar elementos*/
    }

    #inicio h1 {
        font-size: 60px;
        text-align: center;
    }

    #inicio h2 {
        text-align: center;
    }

    #inicio {
        align-items: center;
    }

    .card {
        width: 100%;
    }

    #form {
        flex-direction: column;
    }
}